<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267272699324-rq4hu2u6oh1c0cbfttvl3tn2d36uekpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267272699324-rq4hu2u6oh1c0cbfttvl3tn2d36uekpp</string>
	<key>API_KEY</key>
	<string>AIzaSyBnVJmfEiy7p0H4DVZogRrgFk-u47efn58</string>
	<key>GCM_SENDER_ID</key>
	<string>267272699324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.Sakshi.WeatherSure</string>
	<key>PROJECT_ID</key>
	<string>weathersureapp-cd590</string>
	<key>STORAGE_BUCKET</key>
	<string>weathersureapp-cd590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267272699324:ios:dce849c8f62f690237ffb9</string>
</dict>
</plist>